.main-footer {
  margin-top: 120px;
  background-color: #F5F5F9;

  &__container {
    min-height: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    width: 100%;
  }
}

@media (max-width: $tablet-width) {
  .main-footer {
    &__container {
      display: block;
    }

    margin-top: 80px;
    padding: 30px 0;
  }
}
