.product-review {
  padding-bottom: 20px;
  margin: 0 0 20px 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);

  &__text-block {
    margin-bottom: 15px;
  }

  &__text-block-content {
    font-size: 15px;
    line-height: 20px;
    margin: 3px 0 0px 20px;

    &--text {
      margin-left: 0;
    }
  }

  &__rating {
    margin-top: 20px;
    margin-bottom: 24px;
  }

  &__author {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 12px;
    display: block;
  }

  &__date {
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    opacity: 0.4;
  }

  &__reply {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    border: none;
    background-color: transparent;
    color: #D12136;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    margin-left: 21px;

    &:hover,
    &:focus {
      @include hover-animation();
      color: #48494D;
    }
  }
}
