.review-section-title {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;

  &--dignity,
  &--disadvantages {
    padding-left: 20px;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -4px;
      background: url("../../img/icon-plus.svg") no-repeat center center;
    }
  }

  &--disadvantages {
    &::before {
      background: url("../../img/icon-minus.svg") no-repeat center center;
    }
  }
}
