.tab-reviews {
  position: relative;

  &__btn {
    position: absolute;
    right: 1px;
    top: -2px;
  }

  &__overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(88, 87, 87, 0.6);
  }
}

@media (max-width: $tablet-width) {
  .tab-reviews {
    &__btn {
      position: static;
      margin-bottom: 30px;
    }
  }
}
