.tabs-nav {
  margin-bottom: 30px;

  &__list {
    @include reset-list();
    display: flex;
  }

  &__item {
    border: 1px solid #D7D9DF;

    &--active {
      background-color: #D12136;
      border-color: #D12136;
      color: #FFFFFF;
    }
  }

  &__item-link {
    padding: 11px 14px;

    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    min-width: 195px;
  }
}

@media (max-width: $tablet-width) {
  .tabs-nav {
    &__list {
      overflow: scroll;
    }
  }
}
